*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: stretch;
}

.sidebar{
    padding-top: 70px;
    background-color: rgba(126, 195, 113, 0.979);
    width: 300px;

}

.header {
    background-color: rgb(219, 213, 130);
    position: fixed;
    left: 0;
    right: 0;
    height: 60px;
    /* padding-left: 300px; */
    /* width: 100vh; */
}

.content {
    padding-top: 70px;

}

.text{
    width: 50px;
    border: solid 1px #ccc;
}

.footer {
    background-color: rgb(228, 164, 92);
    padding: 20px;
}